a {
  text-decoration: none;
  color: rgb(218, 219, 219);
}

body {
  background-color: #fce4ec;
  margin: 0%;
}

#banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #05051f;
  color: rgb(218, 219, 219);
}

.logo {
  display: flex;
  padding: 8px 12px;
  font-size: 20px;
  color: #f48fb1;
}

.logo i {
  padding-right: 10px;
}

.menu {
  display: flex;
  padding-left: 0%;
}

.menu li {
  list-style-type: none;
  padding: 15px;
}

.menu li:hover {
  background-color: #f48fb1;
  border-radius: 10px;
}

.link {
  padding-right: 12px;
}

.link i {
  padding: 10px;
}

.menubar {
  display: none;
}

@media screen and (max-width: 750px) {
  #banner {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .logo {
    display: flex;
    padding: 10px 12px;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0%;
    display: none;
  }

  .menu li {
    width: 100%;
    text-align: center;
  }

  .link {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    display: none;
  }

  .menubar {
    display: block;
    position: absolute;
    right: 10px;
    padding: 12px 12px;
    color: #f48fb1;
  }

  .menu.active,
  .link.active {
    display: flex;
  }
}
